QWidget 
{
	color : #520680;
	background : #87CEEB;
}

#Name
{
	border-image: url(:/illidanQT/Resources/Name.png);
}

#LoginPageLabel
{
	background-image: url(:/LoginPage/Resources/LineEditBG.png);
}

#LoginPageEmail
{
	background-image: url(:/LoginPage/Resources/LineEditBG.png);
}

#LoginPagePassword
{
	background-image: url(:/LoginPage/Resources/LineEditBG.png);
}

#LoginPageBtnLogin
{
	background-image: url(:/LoginPage/Resources/BtnBG.png);
}